MYSQL_ROOT_PASSWORD=om687
MYSQL_DATABASE=omnia_db
MYSQL_USER=omnia_user
MYSQL_PASSWORD=om2920

JWT_SECRET=Xlf!Z3ddNr^AUf@jdyhwg539y687444RP5O^4u

MAIL_USERNAME=hello@gmail.com
MAIL_PASSWORD=qjaj umrf sult jnjd

FILE_UPLOAD_DIR=uploads