# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=omnia_db
MYSQL_USER=omnia_user
MYSQL_PASSWORD=

# JWT
JWT_SECRET=

# Email
MAIL_USERNAME=
MAIL_PASSWORD=

# Application URLs
APP_BACKEND_BASE_URL=http://localhost:8080
APP_FRONTEND_BASE_URL=http://localhost:8080/api/auth
APP_RESET_PASSWORD_URL=http://localhost:8080/reset-password

# File upload
FILE_UPLOAD_DIR=uploads

# Security token lifetimes
REFRESH_TOKEN_LIFETIME=30d
EMAIL_VERIFICATION_TOKEN_LIFETIME=24h
PASSWORD_RESET_TOKEN_LIFETIME=30m